@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>This app is designed by github user marlonvalch , Created with in-memory database. Once the running time is stopped the memory will stop. The positive values are given if the income is higher than the expenses,savings or debts, the chart will display the percentaje of the items. </p>
